body {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  background-color: #daf797;
  padding: 1.5em;
  color: rgb(49, 99, 49);
}

h1 {
  font-size: 3em;
  /* em units scale well */
}

p {
  font-size: 18px;
}

img {
  max-height: 150px;
  /* specifying only height or width lets you scale the image without distortion*/
  border-radius: 3px;
}

.about-section p > img:hover, .about-section p > img:focus {
  mix-blend-mode: normal;
  width: 300%;
}

/* elements with class="about-section" */
.about-section p > img{
  width: 100%;
  mix-blend-mode: multiply;
}

.about-section > p, .link-section li {
  font-size: 1em;
}

/* .alert {
  background-color: yellow;
} */

/* p.alert{
  background-color: bisque;
} */

/* header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

/* .about-section .other {
  background-color: red ;
} */

/* .about-section div p {
  background-color: red ;
} */

/* .class1.class2 {
  font-weight: bold;
} */

/* .class1 {
  background-color: orange;
} */

/* header > p {
  font-weight: bold;
} */

/* li:last-child{
  background-color: darkkhaki;
} */


/* li:nth-child(2n+1) {
  background-color: darkkhaki;
} */

/* h2, .alert, p { background-color: teal;
} */

/* h2 { background-color: teal;
}

.alert { background-color: teal;
}

#foo { background-color: teal;
} */

/* img:hover, img:focus{
  border-radius:100px;
} */
